@font-face {
    font-family: "Vazir";
    src: url(../assets/Fonts/Vazirmatn-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Vazir";
    src: url(../assets/Fonts/Vazirmatn-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Vazir";
    src: url(../assets/Fonts/Vazirmatn-SemiBold.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Vazir";
    src: url(../assets/Fonts/Vazirmatn-Bold.woff2) format("woff2");
    font-weight: 700;
}